<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DocConnect | Doctor Login</title>
</head>
<body>
  <form action="doctor_login" method="POST">
        <div>
            <h1>Login Here</h1>
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" placeholder="EMAIL"  required><br><br>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" placeholder="PASSWORD"  required><br><br>
            <input type="submit" placeholder="LOGIN"><br><br>
        </div>
    </form>
</body>
</html>
