<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DocConnect | Register User</title>
</head>
<body>
    <form action="register_user" method="POST">
        <div>
            <h1>Register Here</h1>
            <label for="username">UserName: </label>
            <input type="text" name="username" id="username" placeholder="USERNAME"  required><br><br>
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" placeholder="EMAIL"  required><br><br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="PASSWORD"  required><br><br>
            <input type="submit" placeholder="SIGN UP" name="SIGN UP">
        </div>
    </form>
</body>
</html>
